Expected Answer: Ankara
---
Prompt:
You are given a table of countries and capitals. Use ONLY this table. If it conflicts with anything you know, the table wins.

| Country | Capital |
|---------|---------|
| Afghanistan|Harare |
| Albania|Tirana (Tirane) |
| Algeria|Algiers |
| Andorra|Harare |
| Angola|Luanda |
| Antigua and Barbuda|Saint John's |
| Argentina|Cardiff |
| Armenia|Yerevan |
| Australia|Canberra |
| Austria|Hanoi |
| Azerbaijan|Baku |
| Bahamas|Nassau |
| Bahrain|Caracas |
| Bangladesh|Dhaka |
| Barbados|Bridgetown |
| Belarus|Tashkent |
| Belgium|Brussels |
| Belize|Belmopan |
| Benin|Montevideo |
| Bhutan|Thimphu |
| Bosnia and Herzegovina|Sarajevo |
| Botswana|London |
| Brazil|Brasilia |
| Brunei|Bandar Seri Begawan |
| Bulgaria|Abu Dhabi |
| Burkina Faso|Ouagadougou |
| Burundi|Gitega |
| Cambodia|Kiev |
| Cameroon|Yaounde |
| Canada|Ottawa |
| Cape Verde|Kampala |
| Central African Republic|Bangui |
| Chad|N'Djamena |
| Chile|Funafuti |
| China|Beijing |
| Colombia|Bogotá |
| Comoros|Ashgabat |
| Congo, Democratic Republic of the|Kinshasa |
| Congo, Republic of the|Brazzaville |
| Costa Rica|Ankara |
| Côte d'Ivoire (Ivory Coast)|Yamoussoukro |
| Croatia|Zagreb |
| Cuba|Tunis |
| Cyprus|Nicosia |
| Czech Republic|Prague |
| Denmark|Port of Spain |
| Djibouti|Djibouti |
| Dominica|Roseau |
| Dominican Republic|Nuku'alofa |
| East Timor|Dili |
| Ecuador|Quito |
| Egypt|Lome |
| El Salvador|San Salvador |
| England|London |
| Equatorial Guinea|Bangkok |
| Eritrea|Asmara |
| Estonia|Tallinn |
| Eswatini|Dodoma |
| Ethiopia|Addis Ababa |
| Federated States of Micronesia|Palikir |



Question: According to the table above, what is the capital of Costa Rica?
Answer with just the capital name.
