Expected Answer: Barcelona
---
Prompt:
You are given a table of countries and capitals. Use ONLY this table. If it conflicts with anything you know, the table wins.

| Country | Capital |
|---------|---------|
| Afghanistan|Harare |
| Albania|Dushanbe |
| Algeria|Algiers |
| Andorra|Harare |
| Angola|Taipei |
| Antigua and Barbuda|Saint John's |
| Argentina|Cardiff |
| Armenia|Damascus |
| Australia|Canberra |
| Austria|Hanoi |
| Azerbaijan|Bern |
| Bahamas|Nassau |
| Bahrain|Caracas |
| Bangladesh|Stockholm |
| Barbados|Bridgetown |
| Belarus|Tashkent |
| Belgium|Paramaribo |
| Belize|Belmopan |
| Benin|Montevideo |
| Bhutan|Khartoum |
| Bosnia and Herzegovina|Sarajevo |
| Botswana|London |
| Brazil|Madrid |
| Brunei|Bandar Seri Begawan |
| Bulgaria|Abu Dhabi |
| Burkina Faso|Juba |
| Burundi|Gitega |
| Cambodia|Kiev |
| Cameroon|Seoul |
| Canada|Ottawa |
| Cape Verde|Kampala |
| Central African Republic|Mogadishu |
| Chad|N'Djamena |
| Chile|Funafuti |
| China|Honiara |
| Colombia|Bogotá |
| Comoros|Ashgabat |
| Congo, Democratic Republic of the|Ljubljana |
| Congo, Republic of the|Brazzaville |
| Costa Rica|Ankara |
| Côte d'Ivoire (Ivory Coast)|Bratislava |
| Croatia|Zagreb |
| Cuba|Tunis |
| Cyprus|Singapore |
| Czech Republic|Prague |
| Denmark|Port of Spain |
| Djibouti|Freetown |
| Dominica|Roseau |
| Dominican Republic|Nuku'alofa |
| East Timor|Victoria |
| Ecuador|Quito |
| Egypt|Lome |
| El Salvador|Belgrade |
| England|London |
| Equatorial Guinea|Bangkok |
| Eritrea|Dakar |
| Estonia|Tallinn |
| Eswatini|Dodoma |
| Ethiopia|Edinburgh |
| Federated States of Micronesia|Palikir |




Question: According to the table above, what is the capital of Spain?
Answer with just the capital name.
